/* Login form */
*{
    box-sizing: border-box;
}

.form-popup{
    display: none;
    position: fixed;
    border: solid 3px black ;
    z-index: 9;
    left: 50%;
}

.form-container{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type="checkbox"]{
    margin-right: 10px;
}

@media screen and (max-width: 700px) {
    .form-popup{
        left: 25%;
    }
}